# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Precompilled headers and other
*.gch
*.i
*.ii
*.s

# Executables
*.exe

# Other
*.old
*.txt
*.out

/Debug/ThnikingInCpp_1.Build.CppClean.log
/Debug/ThnikingInCpp_1.log
/TICPP1/.vs/TICPP1/v15/Browse.VC.db
/TICPP1/.vs/TICPP1/v15/.suo
/TICPP1/.vs/TICPP1/v15/ipch/AutoPCH/19faabe3d933caad/FREESTANDINGREFERANCE.ipch
/TICPP1/.vs/TICPP1/v15/ipch/AutoPCH/38dacaa6f423e170/TICPP1.ipch
/TICPP1/.vs/TICPP1/v15/ipch/AutoPCH/7d9c3e1ea06d298/REFERANCE.ipch
/TICPP1/.vs/TICPP1/v15/ipch/AutoPCH/8e27cfdf43b89b88/REFERANCETOPOINTER.ipch
/TICPP1/Debug/TICPP1.ilk
/TICPP1/Debug/TICPP1.pdb
/TICPP1/TICPP1/Debug/FreeStandingReferance.obj
/TICPP1/TICPP1/Debug/PassingBigStructures.obj
/TICPP1/TICPP1/Debug/Referance.obj
/TICPP1/TICPP1/Debug/ReferanceToPointer.obj
/TICPP1/TICPP1/Debug/TICPP1.Build.CppClean.log
/TICPP1/TICPP1/Debug/TICPP1.log
/TICPP1/TICPP1/Debug/TICPP1.tlog/CL.command.1.tlog
/TICPP1/TICPP1/Debug/TICPP1.tlog/CL.read.1.tlog
/TICPP1/TICPP1/Debug/TICPP1.tlog/CL.write.1.tlog
/TICPP1/TICPP1/Debug/TICPP1.tlog/link.command.1.tlog
/TICPP1/TICPP1/Debug/TICPP1.tlog/link.read.1.tlog
/TICPP1/TICPP1/Debug/TICPP1.tlog/link.write.1.tlog
/TICPP1/TICPP1/Debug/TICPP1.tlog/TICPP1.lastbuildstate
/TICPP1/TICPP1/Debug/vc141.idb
/TICPP1/TICPP1/Debug/vc141.pdb
*.tlog
*.obj
*.log
